html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    line-height: 1.1;
    margin-top: 0;
}

p {
    margin-top: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: #d1c296;
    font-weight: 500;
}

nav {
    background-color: transparent;
}